---
import Layout from "../layouts/layout.astro";

import {getData} from "../data-access/data.ts";



console.log( await getData() );


---




<Layout>
	<div class="text-3xl md:text-6xl font-bold font-flecham">Michael Jacob M. Delos Santos</div>
	<h2 class="text-xl md:text-2xl font-flecham">Software Engineer</h2>

	<div class="grid md:grid-cols-3 gap-4 | text-center | outline py-1">
		<div class="outline">
			09173980858
		</div>
		<div class="outline">
			Santa Maria,Bulacan
		</div>
		<div class="outline">
			@michaeljacobmds
		</div>
	</div>

	<div class="my-10" />

	<div class="grid grid-cols-3 gap-x-5"> 
		<!-- Display here my projects -->
		<div class="grid grid-cols-2 border">
			<div>
				<p> My Flask Projects </p>
				<a href="">Link to github</a>
			</div>
			<div>
				<img>
			</div>
		</div>
	</div>

</Layout>

