---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Hello and welcome to my portfolio</h1>

		<h1> Hello? </h1>

		<iframe src="https://getnotionembed.com/embed/05b610af-8204-49c4-bc51-a1e1a83b0195?mode=Light" style="width: 100%; height: calc(-200px + 100vh);"></iframe>
	</body>
</html>
